<div class="footer">
  <div class="icon-links">
    <a class="no-underline" href="https://www.instagram.com/jhforster/">
      {% include svg/instagram.svg %}
    </a class="no-underline">
    <a class="no-underline" href="https://twitter.com/jhforster">
      {% include svg/twitter.svg %}
    </a>
    <a class="no-underline" href="https://www.linkedin.com/in/jhforster/">
      {% include svg/linkedin.svg %}
    </a>
    <a class="no-underline" href="/feed.xml" target="_blank">
      {% include svg/rss.svg %}
    </a>
  </div>
  <p class="copyright">
    Made with 👻by me in 2019&copy; and whatever else is supposed to go here.
  </p>
</div>
