<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">

  <!-- Enable responsiveness on mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>
    {{ page.title }} &ndash; {{ site.title }}
  </title>

  <meta name="description" content="{% if page.description %}{{ page.description }}{% elsif page.layout == "post" %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">


  {% include google-analytics.html %}

  <!-- CSS -->
  <link rel="stylesheet" href="{{ 'css/styles.css' | relative_url }}" />
  {% include font-includes.html %}

  <!-- Icons -->
  {% include favicons.html %}

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed.xml" />

</head>
