<div id="sidebar">
  <div class="header">
    <a class="no-underline" href="/">
      <img class="logo" src="/assets/jhf-logo.gif" alt="JHF rotating logo">
    </a>
    <div>
      <h1>Hi, I'm John-Henry</h1>
      <h2>(but most people call me JH)</h2>
    </div>
  </div>

  <div class="nav-items">
    <a class="nav-link {% if page.title == 'About' %} active {% endif %}" href="/about">About</a>
    <a class="nav-link {% if page.title == 'Blog' %} active {% endif %}" href="/">Blog</a>
    <a class="nav-link {% if page.title == 'Writing' %} active {% endif %}" href="/writing">Writing</a>
    <a class="nav-link {% if page.title == 'Projects' %} active {% endif %}" href="/projects">Projects</a>
  </div>

  {% include social-icons.html %}

</div>
