.about-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: -1.5rem;

  @media (max-width: $for-mobile-view) {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  h1, h2, h3 {
    margin: 0;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 400;
  }
}

// Nudges the font up a little,
// mainly for mobile but looks better 
// on desktop too!
.about-hello {
  margin-top: -2.5rem;
}

.upside-down {
  margin-bottom: 1rem;
  max-width: 14rem;

  @media (max-width: $for-mobile-view) {
    max-width: 70%;

    align-self: flex-end;
  }
}
