.page-heading {
  color: $light-gray;
  margin: 0;
}

.collection-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.underline {
  border-bottom: double;
  margin: 0 0 40px 0;
  padding: 0 0 5px 0;
}

.blog-date {
  font-weight: 700;
  margin: 0 0 50px 0;
}

.center {
  text-align: center;
  display: block;
}

blockquote {
  border-left: 4px solid $white;
  // margin: 40px;
  color: $white;
  font-style: italic;
  font-size: 1.25rem;

  p {
    margin: 80px 40px;
    padding: 10px 0;
    color: $white;
  }
}
