.page-heading {
  color: $light-gray;
  margin: 0;
}

.collection-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.underline {
  border-bottom: double;
  margin: 0 0 40px 0;
  padding: 0 0 5px 0;
}

.blog-title {
  line-height: 2.5rem;
}
