.copyright {
  font-size: .75rem;
  text-align: center;
  color: $medium-gray;
  margin-bottom: 2rem;
}

.copyright-emoji {
  display: inline-block;
  margin: 0 0.15em;
  vertical-align: -0.1em;
}

.icon-links {
  margin: 0 auto 1rem auto;
  max-width: 15rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
