// Main post feed
.content {
  max-width: 32rem;
  margin: 0 auto;
}

.collection-list {
  list-style-type: none;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;

  @media (max-width: $for-mobile-view) {
    margin: 0;
    padding: 0;
  }
}

// 404 page
.four-oh-four {
  margin: 50px auto;
  display: block;
}

.center {
  text-align: center;
  display: block;
}
