$off-black:     #222 !default;
$dark-gray:     #444 !default;
$medium-gray:   #555;
$light-gray:    #888;
$side-nav:      #fff;
$off-white:     #d5d5d5;
$white:         #fff;
$active:        #2EA4FA;
$highlight:     #6FBFF9;
$off-highlight: #EDF8FF;

$base-font: "Zilla Slab", serif;
$header-font: "Nunito", sans-serif;

$link-color: $medium-gray;

$for-mobile-view: 50rem;
