$off-black:     #222 !default;
$dark-gray:     #444 !default;
$medium-gray:   #666;
$light-gray:    #888;
$side-nav:      #fff;
$off-white:     #d5d5d5;
$white:         #fff;
$highlight:     #2EA4FA;
$off-highlight: #97D2FD;

$base-font: "Open Sans", sans-serif;
$header-font: "Zilla Slab", serif;
$tagline-font: "Josefin Sans", sans-serif;

$link-color: $medium-gray;

$for-mobile-view: 50rem;
