$off-black:     #222 !default;
$dark-gray:     #444 !default;
$medium-gray:   #555;
$light-gray:    #888;
$side-nav:      #fff;
$off-white:     #d5d5d5;
$white:         #fff;
$active:        #2EA4FA;
$highlight:     #6FBFF9;
$off-highlight: #EDF8FF;

$base-font: "Zilla Slab", serif;
// $header-font: "Nunito", sans-serif;

// $base-font: "Bookman", serif;
// $header-font: "Lucida Grande", sans-serif;
// $header-font: "PT Sans", sans-serif;
// $header-font: "Roboto Condensed", sans-serif;


$header-font: "Noto Sans", sans-serif;

$link-color: $dark-gray;

$for-mobile-view: 50rem;
