---
layout: base
---
<div class="content">

  <ul class="collection-list">
  {% for post in site.posts %}
    <li>
      {% if post.external_link %}
      <h1>
          ⬀ <a href="{{ post.external_link }}" target="_blank">{{ post.title | escape }} </a>
      </h1>
      {% elsif post.hide_title %}
      {% else %}
      <h1>
        <a class="blog-post-title" href="{{ post.url }}">{{ post.title | escape }}</a>
      </h1>
      {% endif %}
      {{ post.content }}
    </li>
    <hr>
  {% endfor %}
  </ul>

</div>
